<!-- /templates/snippets/section-introduction.liquid -->

<div class="section-introduction text-center widget space-top-{{ settings.margin-top-section }}">

  <h3 class="widget-title title-lg space-10"><span>{{ settings.introduction_title5 }}</span></h3>
  
  {% capture _image %}introduction_image5.jpg{% endcapture %}
  {% if settings.introduction_image_enable5 %}
    <img src="{{ _image | asset_url }}" alt="">
  {% endif %}

  <div class="widget-content">
    {% if settings.introduction_subtitle5 %}
      <h2>{{ settings.introduction_subtitle5 }}</h2>
    {% endif %}

    {% if settings.introduction_description5 %}
      <p class="description">{{ settings.introduction_description5 }}</p>
    {% endif %}

    {% if settings.introduction_button5 %}
      <a href="{{ settings.introduction_button_url5 }}" class="btn btn-primary">{{ settings.introduction_button5 }}</a>
    {% endif %}
  </div>
</div>

